<div class="product-category" data-catalog-category="{{ item.category }}">
  <div class="product-category__header">
    <span>choose {{ item.limit }}</span>
  </div>
  <div
    class="product-category__item-ctn"
    data-furniture-category="{{ item.category }}"
    data-furniture-limit="{{ item.limit }}">
    {% for i in (0..arr_size) %}
      {% if furniture_category[i] == category %}
        <div class="product-category__item"
          style="background-image: url({{ furniture_image[i] }})"
          data-select-category="{{ furniture_category[i] }}"
          data-select-code="{{ furniture_furniture_code[i] }}"
          data-select-image="{{ furniture_image[i] }}"
          data-select-limit="{{ item.limit }}">
          <h3>{{ furniture_furniture_code[i] }}</h3>
          <div class="product-category__quantity-selector" data-max-value="{{ item.limit }}">
            <button class="product-category__quantity-selector--subtract" type="button" data-category-subtract="{{ furniture_category[i] }}">-</button>
            <span class="product-category__quantity" data-value="1">1</span>
            <button class="product-category__quantity-selector--add" type="button" data-category-add="{{ furniture_category[i] }}">+</button>
          </div>
          <span
            class="product-category__checkmark"
            data-select-category="{{ furniture_category[i] }}"
            data-select-image="{{ furniture_image[i] }}"></span>
          <div class="product-category__info info-btn--mobile" data-popup-btn-code="{{ furniture_furniture_code[i] }}">
            {% render 'icon-info' %}
          </div>
          <div class="product-category__info info-btn--desktop" data-popup-btn-code="{{ furniture_furniture_code[i] }}">
            {% render 'icon-info' %}
          </div>
          <div class="product-category__info-popup" data-popup-code="{{ furniture_furniture_code[i] }}">
            <button id="product-category__info-close">&#x2715</button>
            <h4>Product Details</h4>
            <h5>dimensions</h5>
            <div>
              {% if furniture_length[i] != blank %}<span>length: {{ furniture_length[i] }} /</span>{% endif %}
              {% if furniture_width[i] != blank %}<span>width: {{ furniture_width[i] }}</span>{% endif %}
              {% if furniture_height[i] != blank %}<span>/ height: {{ furniture_height[i] }}</span>{% endif %}
            </div>
            {% if furniture_materials[i] != blank %}
              <h5>materials</h5>
              <p>{{ furniture_materials[i] }}</p>
            {% endif %}
            {% if furniture_additional_title[i] != blank and furniture_additional_content[i] != blank %}
              <h5>{{ furniture_additional_title[i]}}</h5>
              <p>{{ furniture_additional_content[i] }}</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>