{{ "section-collection-page.css" | asset_url | stylesheet_tag }}

<div class="product-package">
  <div class="product-package__form">
    <div class="product-category" data-catalog-category="{{ item.category }}">
      <div class="product-category__header">
        <span>Categories:
          {% for link in linklists["home-menu"].links %}
            {% if link.title == "curated by roomme" %}
              {% for child_link in link.links %}
                <a class="product-category__collection-item" href="{{ child_link.url }}">{{ child_link.title }}</a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </span>
      </div>
      {% paginate collection.products by 48 %}
      <div class="product-category__item-ctn">
        {% for product in collection.products %}
          <a href="{{ product.url }}" class="product-category__item" style="background-image: url('{{ product.featured_image | image_url }}'); mix-blend-mode: multiply;">
            <h3>{{ product.title }}</h3>
            <div class="product-category__enlarge-btn">{{ product.price | money_without_trailing_zeros }}</div>
          </a>
        {% endfor %}
      </div>
      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
