{{ "section-packages.css" | asset_url | stylesheet_tag }}

<div id="package-section" class="packages">
  <div class="package-ctn">
    {% assign products_list = section.settings.package_collection.products  %}
    {% if request.page_type == 'collection' %}
      {% assign products_list = collection.products %}
    {% endif %}
    {% for product in products_list %}
      <div class="package-1-outer">
        <div class="package-1">
          <div class="package-title-ctn">
            <p class="package-name">{{ product.title }}</p>
            <div class="package-des">
              <p class="package-des">{{ product.description | strip_html }}</p>
              <p class="package-des">{{ product.price | money_without_trailing_zeros }}</p>
            </div>
          </div>

          <div class="list-des">
            <p style="font-size: 13px">Includes your choice of:</p>
            <ul class="package-list">
              <div class="package-list-section">
                <li class="package-list-item">couch</li>
                <li class="package-list-item">coffee table</li>
                <li class="package-list-item">area rug</li>
              </div>
              <div class="package-list-section">
                <li class="package-list-item">art work</li>
                <li class="package-list-item">floor lamp</li>
                <li class="package-list-item">TV stand</li>
              </div>
              <div class="package-list-section">
                <li class="package-list-item">bed</li>
                <li class="package-list-item">nightstand</li>
                <li class="package-list-item">accents</li>
              </div>
            </ul>
          </div>
          <div class="package-expert">
            <p class="package-bottom-text">+ expert design help</p>
            <p class="package-bottom-text">+ delivery & installation</p>
          </div>
        </div>
        <a href="{{ product.url }}" class="package-bottom-ctn">
          <span class="view-package">view package</span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Packages",
  "settings": [
    {
      "type": "collection",
      "id": "package_collection",
      "label": "Package Collection"
    }
  ],
  "presets": [
    {
      "name": "Packages"
    }
  ]
}
{% endschema %}
