{{ "section-product-package.css" | asset_url | stylesheet_tag }}

{% assign catalog_size = shop.metafields.furniture.category | size %}
{% assign categories = shop.metafields.furniture.category | uniq %}
{% assign furniture_category = shop.metafields.furniture.category %}
{% assign package_categories = product.metafields.catalog.categories.value %}
{% assign package_categories_uniq = product.metafields.catalog.categories.value.categories | uniq %}

<div class="product-package">
  <div class="product-package__category-list-ctn">
    <p class="product-package__category-list-title">choose items from each category to fill your packages</p>
    <div class="product-package__category-list">
      {% for item in package_categories %}
        {% assign loop_count = forloop.index %}
        <div class="product-package__category-item">
          <button data-catalog-filter="{{ item.category }}" class="product-package__btn {% if loop_count == 1 %}active{% endif %}">
            {{ item.category }}
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
  <form class="product-package__form" method="post" action="/cart/add">
    {% for item in package_categories %}
      {% include 'catalog-category',
        category: item.category,
        arr_size: catalog_size,
        furniture_category: furniture_category,
        furniture_furniture_code: shop.metafields.furniture.furniture_code,
        furniture_image: shop.metafields.furniture.image,
        furniture_length: shop.metafields.furniture.length,
        furniture_width: shop.metafields.furniture.width,
        furniture_height: shop.metafields.furniture.height,
        furniture_quantity: shop.metafields.furniture.quantity
      %}
    {% endfor %}
    <div class="product-package__order-preview">
      <div class="product-package__order-header">
        <span>{{ product.title | upcase }} - CHOOSE YOUR ITEMS</span>
        <div class="product-package__add-to-cart">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          <input type="submit" value="continue to checkout &#x2192;" class="product-package__add-to-cart-btn" />
          <p><span id="order-count">0</span>/<span id="category-max"></span></p>
        </div>
      </div>
      <div class="product-package__carousel-ctn">
        <div class="product-package__order-carousel">
          {% for item in package_categories %}
            <div class="product-package__order-item">
              <img class="item-image"/>
              <span class="item-category">{{ item.category }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
</div>

<script src="{{ 'product-package.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Packages",
  "blocks": [
    {
      "type": "sofas",
      "name": "Sofas",
      "settings": [
        {
          "type": "text",
          "id": "furniture_code",
          "label": "Furniture code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Packages"
    }
  ]
}
{% endschema %}
