{{ 'section-quote-image.css' | asset_url | stylesheet_tag }}

<div class="quote" style="background-image: url({{ section.settings.quote_image | img_url: '2200x' }});">
    <div class="quote-ctn">
        <p class="quote-text">
          {{ section.settings.quote }}
        </p>
        <p class="quote-name">{{ section.settings.name }}</p>
        <p class="quote-location">{{ section.settings.city }}</p>
    </div>
</div>

{% schema %}
{
  "name": "Quote with Image",
  "settings": [
    {
      "type": "textarea",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Name"
    },
    {
      "type": "text",
      "id": "city",
      "label": "City"
    },
    {
      "type": "image_picker",
      "id": "quote_image",
      "label": "Quote Image"
    }
  ],
  "presets": [
    {
      "name": "Quote with Image"
    }
  ]
}
{% endschema %}