{{ 'section-steps.css' | asset_url | stylesheet_tag }}

<div class="steps">
    <div class="steps-inner steps-animate-1">
        <div class="steps-ctn-mobile">
            <div class="steps-number">1</div>
            <div class="steps-line">  </div>
            <div class="steps-title">{{ section.settings.step_one_title }}</div>
        </div>
        <div class="steps-description">{{ section.settings.step_one_paragraph }}</div>
    </div>
    <div class="steps-inner-mid steps-animate-2">
        <div class="steps-description">{{ section.settings.step_two_paragraph }}</div>
        <div class="steps-ctn-mobile">
            <div class="steps-number">2</div>
            <div class="steps-line">  </div>
            <div class="steps-title">{{ section.settings.step_two_title }}</div>
        </div>
    </div>
    <div class="steps-inner steps-animate-3">
        <div class="steps-ctn-mobile">
            <div class="steps-number">3</div>
            <div class="steps-line">  </div>
            <div class="steps-title">{{ section.settings.step_three_title }}</div>
        </div>
        <div class="steps-description">{{ section.settings.step_three_paragraph }}</div>
    </div>
</div>

{% schema %}
{
  "name": "Steps",
  "settings": [
    {
      "type": "text",
      "id": "step_one_title",
      "label": "Step one title"
    },
    {
      "type": "textarea",
      "id": "step_one_paragraph",
      "label": "Step one paragraph"
    },
    {
      "type": "text",
      "id": "step_two_title",
      "label": "Step two title"
    },
    {
      "type": "textarea",
      "id": "step_two_paragraph",
      "label": "Step two paragraph"
    },
    {
      "type": "text",
      "id": "step_three_title",
      "label": "Step three title"
    },
    {
      "type": "textarea",
      "id": "step_three_paragraph",
      "label": "Step three paragraph"
    }
  ],
  "presets": [
    {
      "name": "Steps"
    }
  ]
}
{% endschema %}